@use "header";
@use "footer";


body {
    display: grid;
    font-family: sans-serif;
    place-items: center;
}

#cheeky_div{
background-color: whitesmoke;
width: 100%;
display: grid;
place-items: start;
grid-template-rows: 7vh 10vh;
>h3{
margin-left: 30px;
font-size: 1.6em;
}

>p{
    margin-left: 30px;
}
}

#page_main{
    width: 100%;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
background-color: whitesmoke;
}

#hero_section{
    display: grid;
    place-items: center;
min-height: 40vh;
>.span1{
display: grid;
place-items: center;
grid-template-rows: 12vh 20vh 50vh 8vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh;

>h3{
   
    margin-left: 30px;
    justify-self: start;
}
>p{
justify-self: start;
    text-align: start;
    margin-left: 30px;
}

>img{
width: auto;
max-width: 85%;
border-radius: 180px;
}

>h4{
    margin-left: 30px;
    justify-self: start;

}



}


}


@media only screen and (min-width: 720px){


    #hero_section{


        >.span1{
            display: grid;
            place-items: center;
            grid-template-rows: 12vh 12vh 50vh 8vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh;
            >img{
                width: auto;
                max-width: 45%;
                border-radius: 180px;
                }

                >p{
                    margin-left: 60px;

                }

                >h3{
                    margin-left: 60px;

        
                }

                >h4{
                    margin-left: 60px;

                }
        }

    }
}

@media only screen and (min-width: 1020px){

   #hero_section{


        >.span1{
            display: grid;
            place-items: center;
      
            >img{
                width: auto;
                max-width: 20%;
                border-radius: 180px;
                }

        }
    }


}